.icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 27px 45px;
}

.icon {
  width: 1.8em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

@media only screen and (max-width: 767px) {

.text {
  margin-bottom: 60px
}
}
